h1{
    color:cadetblue
}
.yellow{
    color: hsl(71,73%, 54%)
}
.grey{
    color: grey
}
.grid{
    display: grid;
    grid-template-columns: auto auto
}
.left{
    background-color: cadetblue;
    color: white;
    padding: 20px
}
.dollar{
 font-size: 30px
}
button{
    background-color: hsl(71, 73%,54%);
    color: white;
    height: 50px;
    width: 200px;
    border: none
}
.right{
    background-color: #7ac5cd;
    color: white;
    padding: 30px
}
.attribution { font-size: 11px; text-align: center;}
  .attribution a { color: hsl(228, 45%, 44%); }
 

@media only screen and (max-width: 375px)
{
.grid{
   display: block
}
}
